<div class="col-12  breadcrumb">
   <h4>Lista de libros</h4>
  <a class="btn btn-outline-primary mx-2" [routerLink]="['/book-add']" >Agregar libro</a>
</div>

<ul class="list-group" *ngIf="books$ | async as books; else loading">
  <li class="list-group-item" *ngFor="let book of books">
    {{ book.nombre }} - {{ book.autor }} ({{ book.idioma }})
    <p>
      <a [routerLink]="['/book-edit', book.id]" class="mx-2 btn btn-outline-info">Editar</a>
      <a (click)="deleteBook(book.id)" class="mx-2 btn btn-outline-danger">Eliminar</a>
    </p>
  </li>
</ul>
<ng-template #loading>
  <h3>Loagin</h3>
</ng-template>
