<div class="row">
  <div class="col-12 mt-2" >
    <div class="form-group">
      <input type="text" id="search" placeholder="Busca tu libro favorito" class="form-control"
        [(ngModel)]="searchBox" (ngModelChange)="changeSearchBox($event)" />
    </div>
  </div>

  <ng-container *ngIf="books.length; else empty">
    <app-book class="col-md-3 col-sm-6  my-3" [book]="book" *ngFor="let book of books"></app-book>
  </ng-container>
  <ng-template #empty>
    <h3 class="text-center mt-4 col-12">No hay resultados de libros.</h3>
  </ng-template>
</div>

